<header>
    <nav class="flex flex-between">
        <h1 class="logo">My App</h1>
        <ul class="nav-list flex flex-center">
            <li><a href="/earnings" class="text-income1">Earnings</a></li>
            <li><a href="/payments" class="text-payments1">Payments</a></li>
            <li><a href="/debts" class="text-debts1">Debts</a></li>
        </ul>
    </nav>
</header>