<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/links') %>
</head>

<body>

    <%- include('../partials/navbar') %>

        <section class="my-3">
            <div class="flex flex-center flex-col">
                <h1 class="text-debts1 my-1">New Debt</h1>
                <form action="/debts/new" class="flex flex-center flex-col border-debts p-1" method="POST">
                    <input type="text" name="name" class="my-1 input-1" placeholder="Name">
                    <input type="number" name="price" class="my-1 input-1" placeholder="Price">
                    <input type="date" name="date" class="my-1 input-1" value="2018-07-22">
                    <button type=" submit" class="my-1 btn btn-debts">
                        Submit
                    </button>
                </form>
            </div>
        </section>



</body>

</html>